<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<a th:href="@{/insert}">Create user</a>

<div th:if="${users != null and !users.empty}">
	<table border="1">
		<thead>
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Firstname</th>
				<th>Lastname</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}">Show ID</td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.firstname}"></td>
				<td th:text="${user.lastname}"></td>
			</tr>		
		</tbody>
	</table>

</div>

</body>
</html>