<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div th:if="${user != null and !users.empty}">
	<table border="1">
		<thead>
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Firstname</th>
				<th>Lastname</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="%">
			</tr>		
		</tbody>
	</table>

</div>

<ul>
	<li th:each="user : ${users}">
		<span th:text="${user.username}"></span>	
	</li>
</ul>	

</body>
</html>